{% extends 'home.html' %}

{% block content %}
    <br>
    <div class="list">
        <table class="insights">
            <thead>
                <tr>
                    <th>Low</th>
                    <th>High</th>
                    <th>Average</th>
                    <th>Std Dev</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>${{stats['low']}}</td>
                    <td>${{stats['high']}}</td>
                    <td>${{stats['mean']}}</td>
                    <td>${{stats['std']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="list">
        <table class="listingtable">
            <thead>
                <tr>
                    <th>Price</th>
                    <th>SqFt</th>
                    <th>Bed</th>
                    <th>Bath</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                {% for x in listings %}
                    <tr>
                        <td>${{ x['price'] }}</td>
                        <td>{{ x['area'] }}</td>
                        <td>{{ x['bed'] }}</td>
                        <td>{{ x['bath'] }}</td>
                        <td>{{ x['address'] }} {{ x['city'] }} {{ x['zipcode'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}